img {
  width: 100%;
}

#facts, #food, #location, #wild, #tiger1, #tiger2, #list {
  display: none;
}

.clickable {
  text-decoration: underline;
  color: #00088c;
}

.clickable:hover {
  cursor: pointer;
}
